# SPDX-FileCopyrightText: 2022 Michael Meinel
# SPDX-FileCopyrightText: 2022 Stephan Druskat
#
# SPDX-License-Identifier: CC0-1.0

__pycache__

.coverage
htmlcov
.pytest_cache
.hermes

docs/source/api
docs/build/

.idea/
.venv/
dist/
