# SPDX-FileCopyrightText: 2022 German Aerospace Center (DLR)
#
# SPDX-License-Identifier: CC0-1.0

# SPDX-FileContributor: Stephan Druskat
# SPDX-FileContributor: Michael Meinel


__pycache__

.coverage
htmlcov
.pytest_cache

docs/source/api
docs/build/
/dist/

.idea/
.venv/
dist/

# HERMES workflow specifics
.hermes
