# Mapping of email addresses only. Format (one pair per line):
# <old.email@ddress> <new.email@address>
<michael.meinel@dlr.de> <led02@me.com>
<o.bertuch@fz-juelich.de> <poikilotherm@users.noreply.github.com>
<stephan.druskat@dlr.de> <sdruskat@users.noreply.github.com>

# Mapping of user names. Format (one pair per line):
# Real Name <email@ddress> nickname
# Real Name <email@ddress> Name, Real
Jeffrey Kelling <j.kelling@hzdr.de> jkelling
