/*
 * SPDX-FileCopyrightText: 2022 German Aerospace Center (DLR), Forschungszentrum Jülich
 *
 * SPDX-License-Identifier: CC0-1.0
 */

 /*
  * SPDX-FileContributor: Oliver Bertuch
  * SPDX-FileContributor: Michael Fritzsche
  */

img.member {
    max-width: 13%;
    border-radius: 50%;
    margin-top: 0.3em;
}

img.badge-icon {
    width: 8em;
}

@media only screen and (max-width: 850px) {
    img.member {
        max-width: 23%;
    }
}

img {
    display: block;
    margin: auto;
}

.bd-page-width {
    max-width: none !important;
}

@media (min-width: 1200px) {
    .bd-article-container {
        max-width: none !important;
    }
}

.bd-article-container {
    max-width: 100%;
}

.bd-sidebar-primary.bd-sidebar {
    max-width: min-content;
}

.bd-docs-nav {
    min-width: max-content;
}

.bd-sidebar-secondary{
    max-width: 15%;
    width: max-content;
}