Sphinx==4.5.0
myst-parser[sphinx]==0.18.0
sphinx-autobuild==2021.3.14

# Theme
sphinx-book-theme==0.3.2

# Sphinx - Additional modules
sphinxcontrib-contentui==0.2.5
sphinxcontrib-images==0.9.4 
sphinx-icon==0.1.2
sphinx-favicon==0.2
sphinxemoji==0.2.0
sphinxext-opengraph==0.6.3 